[user]
	name = david noakes
	email = david_noakes@dialog.com.au
[core]
	autocrlf = true
	editor = D:/programs/wscite/SciTE.exe
[merge]
    tool = kdiff3
[mergetool "kdiff3"]
    path = D:/Programs/KDiff3/kdiff3.exe
    trustExitCode = false
